<div>
    <h2 data-translate="cSchedulerApp.event.home.title">Events</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            
            <div class="btn-group flex-btn-group-container pull-left">
				<button class="btn btn-primary" ui-sref="event.new">
					<span class="glyphicon glyphicon-plus"></span> <span
						data-translate="cSchedulerApp.event.home.createLabel">
						Create new Event </span>
				</button>
				<button class="btn btn-primary" ui-sref="event-calendar">
					<span class="glyphicon glyphicon-th-list"></span> <span
						data-translate="cSchedulerApp.event.home.showCalendarLabel"> Show
						Show calendar </span>
				</button>
			</div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cSchedulerApp.event.name">Name</span></th>
                    <th><span data-translate="cSchedulerApp.event.start">Start</span></th>
                    <th><span data-translate="cSchedulerApp.event.stop">Stop</span></th>
                    <th><span data-translate="cSchedulerApp.event.owner">Owner</span></th>
                    <th><span data-translate="cSchedulerApp.event.contributors">Contributors</span></th>
                    <th><span data-translate="cSchedulerApp.event.plan">Plan</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in vm.events track by event.id">
                    <td><a ui-sref="event-detail({id:event.id})">{{event.id}}</a></td>
                    <td>{{event.name}}</td>
                    <td>{{event.start | date:'medium'}}</td>
                    <td>{{event.stop | date:'medium'}}</td>
                    <td>
                        <a ui-sref="contributor-detail({id:event.owner.id})">{{event.owner.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="contributors in event.contributors">
                            <a class="form-control-static" ui-sref="contributor-detail({id: contributors.id})">{{contributors.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="plan-detail({id:event.plan.id})">{{event.plan.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="event-detail({id:event.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event.edit({id:event.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event.delete({id:event.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
